*{margin: 0;}

.header {
    background: red;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: center;
    padding: 4px;
    font-family: sans-serif;
}

.control-panel {
    background: white;
    text-align: right;
    padding: 4px;
    font-family: sans-serif;
}

.languages {
    border-radius: 30px;
    background: white;
    border: 1px solid gray;
}

#editor { height: 400px; }

.button-container {
    text-align: right;
    padding: 4px;
}

.btn {
    border-radius: 20px;
    background: red;
    color: white;
    padding: 8px;
    border: 0;
}
body{
    background-color: #363433;
}
.output {
        padding: 10px;
        border: 2px solid black;
        min-height: 230px;
        width: 100%;
        color: white;
        background-color: black;


}